
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Sen:wght@400..800&display=swap');

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  


html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, rgb(193, 193, 193), rgba(0, 255, 247, 0.133), rgb(202, 239, 249), #00fd0432);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    
    letter-spacing: 0.2vw;
    font-family: 'Poppins', sans-serif;
}

@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }

header{
    height: 8%;
    border-bottom: 1px solid green;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link{
    width: 15%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: green;
}

.navbar-logo-for-main-page{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo-for-main-page img{
    width: 80%;
    height: 70%;
}

#navbar-logo-for-other-pages{
    width: 100%;
    height: 100%;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#navbar-logo-for-other-pages img{
    width: 16%;
    height: 69%;
}

main{
    height: 91.9%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#main-text-and-button-box {
    width: 100%;
    height: 85%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main-text-and-button-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(logo.png);
    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8; /* Adjust this value to reduce image opacity */
    z-index: -1;
}



#main-text{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    font-size: 3.5vw;
    letter-spacing: 0.2vw;
    line-height: 1.6;
    position: relative;
    bottom: 10%;
    color: transparent; /* Ensure text is transparent initially */
background: linear-gradient(45deg, #3AC083, #003e20, #2199D1, transparent 99.9%);
background-size: 400% 400%;
-webkit-background-clip: text;
background-clip: text;

}

.main-button{
    width: 15%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1vw;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid green;
    color: green;
    position: absolute;
    top: 75%;
    z-index: 2;
}

.navbar-link:hover, .main-button:hover, #submit-button:hover{
    transform: scale(1.05);
}

.heading{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-for-input-page-and-other-pages{
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.label-container{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-container{
    height: 100%;
    width: 50%;
}

input, select{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid green;
    text-align: center;
}



#submit-button{
    width: 100%;
    height: 15%;
    margin-top: 0.5%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: green;
    text-decoration: none;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
}

.main-content-for-output-page{
    height: 95%;
    width: 100%;
    display: flex;
}

#report{
    border: 1px solid green;
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#report-default-template{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 2;
}

#report-dynamic-template{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ai-corner{
    border-top: 1px solid green;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ai-corner-heading{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

#ai-prompt-box{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ai-response-box{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-writing{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content-heading{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
}

.main-content-description{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 3;
}

.main-content-footer{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}